{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">

      <div class="section-content">
        <h2>Odkryj miejsca w Twojej okolicy!</h2>
        <a href="{{ url_for('signup') }}" class="btn-primary">Zarejestruj się</a>
        <a href="{{ url_for('about') }}" class="btn-secondary">Informacje</a>
      </div>

      <div class="section-device">
        <img src="static/img/device.png">
      </div>

      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}